/**
 * Wattwriter Stylesheet
 * v1.0
 */
.primary {
  color: #ffffff;
  background-color: #7b1fa2; }
  .primary ul {
    color: #ffffff;
    float: left;
    list-style: none; }
    .primary ul li {
      color: #ffffff;
      float: left;
      margin: auto 8px; }

.toolbar {
  border-radius: 0;
  height: 70px;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%; }

.button-img {
  width: 36px;
  height: 36px;
  display: block; }

button {
  border: none; }

.title-container {
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: #777;
  margin: 8px; }

body {
  margin: 70px 0 0 0;
  padding: none;
  background-color: #111111;
  color: #ffffff; }

/*# sourceMappingURL=stilo.css.map */
