/**
 * Wattwriter Stylesheet
 * v1.0
 */

 $primary: #7b1fa2;
 $primaryDark: #5e357e;
 $accent: #d500f9;
 $toolbarHeight: 70px;
 $verticalMargin: 16px;
 $horizontalMargin: 8px;

 .primary{
 	color: #ffffff;
 	background-color: $primary;

 	ul{
 		color: #ffffff;
 		float: left;
 		list-style: none;

 		li{
	 		color: #ffffff;
	 		float: left;
	 		margin: auto $horizontalMargin;
 		}
 	}
 }

 .toolbar{
 	border-radius: 0;
 	height: $toolbarHeight;
 	padding: $verticalMargin;
 	position: fixed;
 	top: 0;
 	width: 100%
 }

 .button-img{
 	width: 36px;
 	height: 36px;
 	display: block;
 }

 button{
 	border: none;
 }

 .title-container{
 	width: 100%;
 	text-align: center;
 	font-size: 36px;
 	color: #777;
 	margin: $horizontalMargin;
 }

 .content{
 	
 }

 body{
 	margin: $toolbarHeight 0 0 0;
 	padding: none;
 	background-color: #111111;
 	color: #ffffff;
 }
